html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --bg-color: #f6f7fb;
  --primary-color: #3498db;
  --empty-color: #e0e0e0;
}

body .active {
  border-color: var(--primary-color);
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.progress {
  display: inline-block;
  position: relative;
}

.progress-line {
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 0;
  transition: width 0.4s ease;
}

.progress::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  background-color: var(--empty-color);
  transform: translateY(-50%);
  top: 50%;
}

.progress-item {
  z-index: 2;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--empty-color);
  text-align: center;
  line-height: 25px;
  position: relative;
  transition: border 0.4s ease;
  background-color: #fff;
  margin-right: 60px;
}

.progress-item:last-of-type {
  margin-right: 0;
}

.btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  border: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn-next {
  margin-left: 10px;
}

.btn:disabled {
  background-color: var(--empty-color);
  cursor: not-allowed;
}
